body {
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 960px;
    float: right;
}

.banner {
    width: 960px;
    height: 150px;
    background-color: aquamarine;
    float: right;
}

.logo {
    width: 200px;
    height: 150px;
    background-color: bisque;
    float: right;
}

nav {
    clear: both;
    width: 960px;
}


nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    width: 190px;
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border: 1px solid wheat;
}

nav ul li a:hover {
    background-color: azure;
    color: blue;
    font-weight: bold;
}

.container {
    width: 960px;
}
.content {
    width: 700px;
    float: left;
}

article {
    width: 680px;
    border: 1px solid black;
    margin: 20px 0;
    padding: 10px;
}

article h1 {
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
article p {
    line-height: 1.5;
}


aside {
    width: 260px;
    float: left;
}

section {
    width: 240px;
    margin: 20px 0;
    padding: 0 10px;
}

section h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
section p {
    line-height: 1.5;
    border-bottom: 1px solid black;
}

footer {
    clear: both;
    width: 920px;
    background-color: black;
    padding: 20px;
}
footer p {
    color: white;
}

