
<h2>This is from Result view</h2>
@*@using HelloWorldInMVC.Models;

@{
    Student aStudent = ViewBag.AStudent;
}

<h3>
    @aStudent.Name
</h3>

<h4>
    @aStudent.Email
</h4>*@


@model HelloWorldInMVC.Models.Student
    <h3>
        @Model.Name
        @Model.Email
    </h3>