@using DemoMVC.Models;
@*@model IEnumerable<DemoMVC.Models.Employee>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Employee> employees = ViewBag.Employees;
}

<h2>Employee list</h2>

@foreach(Employee employee in employees)
{
    //<p>@employee.EmployeeId</p>
    <p>@employee.Name</p>
    <p>@employee.Designation</p>
    <p>@employee.Age</p>
    <p>------------</p>
}

